<p>
{{#if name}}<span class="business">{{name}}</span><br>{{/if}}
{{#if street}}{{street}}<br>{{/if}}
{{#if citystatezip}}{{citystatezip}}<br>{{/if}}
{{#if phonenumber}}{{phonenumber}}<br>{{/if}}
{{#if email}}<a href="mailto:{{email}}">{{email}}</a><br>{{/if}}
{{#if hours}}Hours: {{hours}}{{/if}}
</p>