<div class="form-group">
    <label for="{{name}}" class="col-sm-3 control-label">{{label}}</label>
    <div class="col-sm-9">
        <select data-js="{{name}}" class="form-control {{class}}" id="{{name}}">
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
    </div>
</div>
