<div class="form-group">
    <label for="{{name}}" class="col-sm-3 control-label">{{label}}</label>
    <div class="col-sm-9">
        <div class="input-group date">
            <input data-js="{{name}} class="form-control {{class}}" type="text" id="{{name}}"/>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
