<div class="form-group">
    <label for="{{name}}" class="col-sm-3 control-label">{{label}}</label>
    <div class="col-sm-9">
        <select data-js="{{name}}" class="form-control {{class}}" id="{{name}}">
            <option value="0">Sunday</option>
            <option value="1">Monday</option>
            <option value="2">Tuesday</option>
            <option value="3">Wednesday</option>
            <option value="4">Thursday</option>
            <option value="5">Friday</option>
            <option value="6">Saturday</option>
        </select>
    </div>
</div>
