<div class="form-group">
    <label for="{{name}}" class="col-sm-3 control-label">{{label}}</label>
    <div class="col-sm-9">
        <input data-js="{{name}}" class="form-control {{class}}" type="{{#if password}}password{{else}}text{{/if}}" id="{{name}}"/>
    </div>
</div>
