<div class="form-group">
    <label for="{{name}}" class="col-sm-3 control-label">{{label}}</label>
    <div class="col-sm-9">
        <textarea data-js="{{name}}" class="form-control {{class}}" id="{{name}}" rows="4"></textarea>
    </div>
</div>
