<div class="member-info col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" data-js="container">
    <div class="header">Please provide us with some information about yourself</div>
    <form class="form-horizontal">
        {{#each fields}}
            <div class="form-group">
                <label for="{{this.name}}" class="col-sm-3 control-label">{{this.label}}</label>
                <div class="col-sm-9">
                    <input type="{{this.type}}" class="form-control" id="{{this.name}}" data-js="{{this.name}}">
                    <span class="glyphicon form-control-feedback hide" aria-hidden="true"></span>
                </div>
            </div>
        {{/each}}
        <div style="display: none;"><input type="text" id="PreventChromeAutocomplete" name="PreventChromeAutocomplete" autocomplete="address-level4" /></div>
    </form>
</div>
