<li class="share" data-id="{{id}}" data-js="container">
    <div>{{label}}</div>
    <div>
        <span>{{humanStartdate}}</span>
        <span>-</span>
        <span>{{humanEnddate}}</span>
    </div>
    </div>{{duration}} weeks</div>
</li>
