<li class="share" data-id="{{id}}">
    <div class="row">
        <div data-js="container" class="share-label vcenter col-sm-4">
            <div>{{label}}</div>
            <div>
                <span>{{humanStartdate}}</span>
                <span>-</span>
                <span>{{humanEnddate}}</span>
            </div>
            <div>{{duration}} weeks</div>
        </div>
        <div class="share-description vcenter col-sm-8">{{description}}</div>
    </div>
</li>
