<div data-js="container" class="summary col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    {{#each shares}}
        <div class="share-label">
            <div class="row text-center">{{label}}</div>
            <div class="row text-center">
                <span>{{humanStartdate}}</span>
                <span>-</span>
                <span>{{humanEnddate}}</span>
            </div>
        </div>
        {{#each selectedOptions}}
            <div class="row">
                <span>{{shareoptionlabel}}</span>
                <span>{{label}}</span>
                <span>{{value}}</span>
            </div>
        {{/each}}
        <div class="row">
            <span>Delivery Method : </span>
            <span>{{selectedDelivery.label}}</span>
            <span>{{selectedDelivery.address}}</span>
        </div>
        <div class="row">
            <span>Skipping Pickup</span>
            {{#each skipWeeks}}
                <span>{{month}}</span> 
                <span>{{dayOfMonth}}</span> 
            {{/each}} 
        </div>
        <div class="row">
            <span>Total</span>
            <span>{{total}}</span>
        </div>
    {{/each}}
    <div class="payment row">
        <div class="heading">Select a method of payment</div>
        <div class="col-sm-12" data-js="paymentOptions"></div>
        <form class="hide form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Card Number</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" data-js="number">
                    <span class="glyphicon form-control-feedback hide" aria-hidden="true"></span>
                    <span>Visa, MasterCard, American Express, JCB, Discover, and Diners Club are accepted</span>
                </div>
            </div>
            <div class="form-group">
                <label for="expiration" class="col-sm-3 control-label">Expiration</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" data-js="exp_month" maxlength="2" size="3" placeholder="mm">
                    <span>&nbsp;/&nbsp;</span>
                    <input type="number" class="form-control" data-js="exp_year" maxlength="4" size="4" placeholder="yyyy">
                    <span class="glyphicon form-control-feedback hide" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">CVC</label>
                <div class="col-sm-9">
                    <input type="number" class="form-control" data-js="cvc" maxlength="3" size="4">
                </div>
            </div>
        </form>
        <div class="text-center">
            <button data-js="signupBtn" class="btn text-center disabled">Become a Member!</button>
        </div>
    </div>
    <div class="grand-total text-center row">
        <span>Grand Total : </span>
        <span>{{grandTotal}}</span>
    </div>
</div>


