<div data-js="container" class="summary col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <div class="share-summary">
        <div class="header">Summary of Shares</div>
        {{#each shares}}

            <div class="share-label">
                <div class="text-center">{{label}}</div>
                <div class="text-center">
                    <span>{{humanStartdate}}</span>
                    <span>-</span>
                    <span>{{humanEnddate}}</span>
                </div>
                <div class="text-center">{{duration}} weeks</div>
            </div>

            <div class="share-options-summary">
                <div class="section-title">Share Options:</div>
                {{#each selectedOptions}}
                    <div class="selected-options">
                        <span class="item-label">{{shareoptionlabel}} :  </span>
                        <span>{{name}}</span>
                        <div class="price">Price :  ${{totalOptionCostString}} at {{price}} / week</div>
                    </div>
                {{/each}}
                <div class="total">Total :  ${{shareOptionsTotalString}}</div>
            </div>

            <div class="delivery-summary">
                <div class="section-title">Delivery:</div>
                <div>
                    <span class="item-label">Method :  </span>
                    <span>{{selectedDelivery.deliveryType}}</span>
                </div>
                {{#if selectedDelivery.groupdropoffid}}
                <div>
                    <span class="item-label">Dropoff :  </span>
                    <span>{{selectedDelivery.label}}</span>
                </div>
                <div>
                    <span class="item-label">Address :  </span>
                    <span>{{selectedDelivery.address}}</span>
                </div>
                {{else}}
                <div data-js="deliveryAddress-{{id}}"><span class="item-label">Address :  </div>
                {{/if}}
                <div data-js="deliveryTotal-{{id}}" class="total">Total :  ${{selectedDelivery.totalCostString}} at ${{selectedDelivery.weeklyCostString}} / week</div>
            </div>

            <div data-js="skipWeeks-{{id}}" class="skip-weeks-summary">
                <div class="section-title">Dates Unavailable for Share:</div>
                <div class="item-label">
                {{#each skipWeeks}}               
                    <span>{{month}}</span> 
                    <span class="skip-date">{{dayOfMonth}}</span>
                {{/each}}
                </div>
                <div class="price-reduction" data-js="priceReduction-{{id}}"></div> 
            </div>

            <div data-js="shareTotal-{{id}}" class="share-total text-center"></div>
        {{/each}}
    </div>

    <div data-js="grandTotal" class="grand-total text-center row"></div>

    <div class="payment">    
        <div class="header">Select a method of payment</div>
        <div data-js="paymentOptions"></div>
        <form data-js="paymentForm" class="hide form-horizontal">
            <div class="credit-card-info form-group">
                <label class="col-sm-3 control-label number">Card Number</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" data-js="number" id="number">
                    <span class="glyphicon form-control-feedback hide" aria-hidden="true"></span>
                    <span class="accepted-cards">Visa, MasterCard, American Express, JCB, Discover, and Diners Club are accepted</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Expiration</label>
                <div class="col-sm-9 expiration">
                    <input type="number" class="form-control" data-js="exp_month" maxlength="2" size="3" placeholder="mm" id="exp_month">
                    <span class="glyphicon form-control-feedback hide" aria-hidden="true"></span>
                    <span>&nbsp;/&nbsp;</span>
                    <input type="number" class="form-control" data-js="exp_year" maxlength="4" size="4" placeholder="yyyy" id="exp_year">
                    <span class="glyphicon form-control-feedback hide" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">CVC</label>
                <div class="col-sm-9 cvc">
                    <input type="number" class="form-control" data-js="cvc" maxlength="3" size="4" id="cvc">
                    <span class="glyphicon form-control-feedback hide" aria-hidden="true"></span>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button data-js="signupBtn" class="btn text-center disabled">Become a Member!</button>
        </div>
    </div>
</div>


